body
{
	font-family: 'Exo', sans-serif;
	box-sizing: border-box;
	background-color: #f8f8f8;
	margin: 0 auto;
    width: 90%;
}


#logo
{
	height: 60px;
	margin: 20px;
	}
	
	header
	{
		height: 100px;
		box-shadow: 5px 5px 2px grey;

	}	
	
	a 
	{
		text-decoration:none;
	}
	
	a:link, a:visited, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}


h1
{
	color: #2c3e50;
	font-size: 32px;
	font-weight: 400;
}

h3
{
	font-size: 24px;
	font-weight: 400;
	color: #6eb92b;
	
}

p
{
	font-size: 16px;
	font-weight: 200;
	color: red;
	
}

#sectiona
{
	
	height: auto;
	background-color: aliceblue;
	
	}

#sectionb
{
	
	height: 20vh;
	background-color: gray;
	display: block;
	
}

	footer
	
	{
		height: 250px;
		background-color: green;
	}

.cardbox
{
	margin-left: 50px;
	margin-right: 50px;
	width: 80vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	height: auto;
	background-color: blue;
}

.card
{
	
	background-color: #ffffff;
	margin: 20px;
	border-radius: 5px;
	width: 350px;
	height: 550px;
	border: 5px solid red;
	box-shadow: 5px 5px 2px grey; 
	
	}
	
	.card h3
	{
		margin-bottom: 5px;
	}
	
	.cardimage
	
	{
		
		width: 348px;
		height: 250px;
		padding-left: 1px;		
		
	}
	
	.cardcontent {
		
		display: flex;
		flex-direction: column;
		margin-left: 20px;
		
		
	}
	
	.cardfooter
	{
		display: flex;
		
	}
	
	i
	
	{
		color: green;
	}
	
	hr
	
	{
		margin-left: 1px;
		margin-right: 5px;
	}
	
	
        form input {     
            
        font-size: 20px;
		font-weight: 200;
        margin-bottom: 10px;
        height: 32px;
        border-radius: 4px;
        border: 2px solid #bebebe;
        background-color: #fff;
        outline:none;
		width: 450px;
                    }        
        
        label {            
            font-size: 25px;
            display: block;            
        }
		
		button
		{
			border-radius: 5px;
			background-color: #6eb92b;
			color: #ffffff;
			font-size: 25px;			
			padding-top: 3px;
			padding-bottom: 3px;
			text-align: center;
			text-decoration: none;
			outline: none;			
		}
		
		

	
	footer
	{
		height: 10%;
	}

